@media screen and (min-width: 1024px) {
    .container {
        min-width: 1024px;
        max-width: 1440px;
        width: 100%;
        gap: 50px;
        margin-bottom: 25px;
        padding: 50px;
    }

    .container-texto-formulario {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 80px;
    }

    .formulario {
        max-width: 60%;
    }

    .container-textos {
        max-width: 40%;
    }

    .container-titulo {
        max-width: 600px;
        margin-top: 25px;
    }

    .nome-telefone {
        display: flex;
        flex-direction: row;
        gap: 25px;
        width: 100%;
    }

    .conteudo-formulario {
        width: 100%;
    }
}