@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

:root {
    --fonte-01: Poppins, sans-serif;

    --cor-01: #9C4BBF;
    --cor-02: #5D3B8C;
    --cor-03: #2C2A59;

    --escuro: #0D0D0D;
    --claro: #F2F2F2;
}

html {
    background-color: var(--claro);
    font-family: var(--fonte-01);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.limitar-secao {
    max-width: 1440px;
}

p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}